body {
    background-color: #1F2023;
    font-family: 'Overpass', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li, p, a {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

i {
    font-size: 1.25rem;
    color: #FFF;
}

svg {
    width: 100%;
}

.active-custom {
    color: var(--primary-color) !important;
}

.hide-mobile {
    display: none;
}

.toggle-menu {
    transform: translateX(0);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--colorFooter);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

@media (min-width: 768px) {
    .hide-tablet {
        display: none;
    }
}