<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/2cd05a3c76.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="./assets/mh-logo.png" type="image/png">
  <link rel="stylesheet" href="../css/main.css">
  <title>MindHub Bros. | Create cards</title>
</head>
<body>
<div id="app">

  <header class="p-4">
    <div class="container d-flex justify-content-between align-items-center py-4">
      <a href="#" class="logo d-flex gap-2 align-items-center">
        <img src="./assets/mh-logo.png" alt="MindHub Logo" width="50">
        <h1 class="fs-4 mb-0 text-white">MindHub Bros.</h1>
      </a>
      <div class="d-flex align-items-center gap-3">
        <nav class="d-flex gap-2 align-items-center">
          <div class="d-flex gap-2">
            <i class="fa-solid fa-user text-white"></i>
            <p class="mb-0 fw-bold user hide-mobile text-white" v-if="client">{{ client.firstName }} {{client.lastName }}</p>
          </div>
          <a href="" class="signout hide-mobile mb-0 px-2 py-1 rounded-2" @click="signOutUser">Sign out</a>
        </nav>
        <a href="#" class="menu hide-tablet" @click="toggleMenu">
          <svg viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" width="42">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.5625 21C34.5625 20.2751 33.9749 19.6875 33.25 19.6875H8.75C8.02513 19.6875 7.4375 20.2751 7.4375 21C7.4375 21.7249 8.02513 22.3125 8.75 22.3125H33.25C33.9749 22.3125 34.5625 21.7249 34.5625 21Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.5625 12.25C34.5625 11.5251 33.9749 10.9375 33.25 10.9375H8.75C8.02513 10.9375 7.4375 11.5251 7.4375 12.25C7.4375 12.9749 8.02513 13.5625 8.75 13.5625H33.25C33.9749 13.5625 34.5625 12.9749 34.5625 12.25Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.5625 29.75C34.5625 29.0251 33.9749 28.4375 33.25 28.4375H8.75C8.02513 28.4375 7.4375 29.0251 7.4375 29.75C7.4375 30.4749 8.02513 31.0625 8.75 31.0625H33.25C33.9749 31.0625 34.5625 30.4749 34.5625 29.75Z" fill="white"/>
          </svg>
        </a>
      </div>
    </div>
  </header>


  <div class="container my-4">
    <div class="row" >
      <aside class="col-5 col-md-12 col-lg-2 py-2 px-4 p-lg-0 m-lg-0">
        <img src="./assets/mobile-exit.svg" alt="Exit mobile nav" class="exit hide-tablet rounded-2" @click="toggleMenu">
        <nav class="p-lg-0">
          <ul class="d-flex flex-column flex-md-row flex-lg-column navbar-nav">
            <li class="nav-item d-md-flex align-items-center gap-2 mt-lg-3">
              <i class="fa-solid fa-address-card hide-mobile"></i>
              <a href="./accounts.html" class="nav-link">Accounts</a>
            </li>
            <li class="nav-item d-md-flex align-items-center gap-2 mb-lg-3 active-custom-lg">
              <i class="fa-brands fa-cc-visa hide-mobile active-custom"></i>
              <a href="#" class="nav-link active-custom">Cards</a>
            </li>
            <li class="nav-item gap-2 hide-tablet">
              <a href="#" class="nav-link" @click="signOutUser">Sign out</a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="col-12 col-md-12 col-lg-10">

        <div class="form rounded-4">
          <div class="d-flex flex-wrap">
            <div class="card my-4" v-for="card of debitCards">
              <div class="flip">
                <div class="front">
                  <div class="strip-bottom"></div>
                  <div class="strip-top"
                       :class="card.color.toLowerCase()"></div>
                  <img class="card-logo" src="./assets/mh-logo.png" alt="MindHub Logo" width="50">
                  <div class="investor">{{ card.color }}</div>
                  <div class="chip">
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-main"></div>
                  </div>
                  <svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787" fill="white">
                    <path d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"></path>
                    <path d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"></path>
                    <path d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"></path>
                  </svg>
                  <div class="card-number">
                    <div class="section">****</div>
                    <div class="section">****</div>
                    <div class="section">****</div>
                    <div class="section">****</div>
                  </div>
                  <div class="d-flex gap-0">
                    <div class="end"><span class="end-text">from: </span><span class="end-date">{{ getStringDate(card.fromDate) }}</span></div>
                    <div class="end ms-2"><span class="end-text">thru: </span><span class="end-date">{{ getStringDate(card.thruDate) }}</span></div>
                  </div>
                  <div class="card-holder">{{ card.cardholder }}</div>
                  <div class="master">
                    <div class="circle master-red"></div>
                    <div class="circle master-yellow"></div>
                  </div>
                </div>
                <div class="back">
                  <div class="strip-black"></div>
                  <div class="ccv">
                    <label>ccv</label>
                    <div>{{ card.cvv }}</div>
                  </div>
                  <div class="terms">
                    <p>This card is property of MindHub Bros. Misuse is criminal offence. If found, please return to MindHub Bros or to the nearest bank with MasterCard logo.</p>
                    <p>Use of this card is subject to the credit card agreement.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form class="p-4" action="" @submit.prevent>
            <h4 class="text-warning">Card Type</h4>
            <div class="inputGroup">
              <input id="credit" name="cardType" type="radio" value="CREDIT" v-model="cardType"/>
              <label for="credit" class="text-white">CREDIT</label>
            </div>
            <div class="inputGroup">
              <input id="debit" name="cardType" type="radio" value="DEBIT" v-model="cardType"/>
              <label for="debit" class="text-white">DEBIT</label>
            </div>
            <h4 class="text-warning mt-2">Card Color</h4>
            <div class="inputGroup">
              <input id="titanium" name="cardColor" type="radio" value="TITANIUM" v-model="cardColor"/>
              <label for="titanium" class="text-white">TITANIUM</label>
            </div>
            <div class="inputGroup">
              <input id="gold" name="cardColor" type="radio" value="GOLD" v-model="cardColor"/>
              <label for="gold" class="text-white">GOLD</label>
            </div>
            <div class="inputGroup">
              <input id="silver" name="cardColor" type="radio" VALUE="SILVER" v-model="cardColor"/>
              <label for="silver" class="text-white">SILVER</label>
            </div>
            <div class="formGroup d-flex justify-content-center">
              <button class="btn btn-warning rounded-2" @click="submitForm">Create Card</button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>

  <footer class="mt-auto">
    <div class="container text-center mt-auto py-3">
      <small class="text-white">®MindHub</small>
    </div>
  </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/create-cards.js"></script>
</body>
</html>