

/* 
    *****
    CARDS
    *****
*/

/* .cardContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly !important;
    flex-direction: column;
    perspective: 1000px;
} */

/* .h3Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #292929;
    color: white;
    padding: .30rem;
    border-radius: 1rem;
} */

/* .cardScale {
    transform: scale(.6324);
} */

.card-container {
    width: 23.125rem;
    height: 15rem;
    transition: .6s;
    transform-style: preserve-3d;
}

.card-container:hover {
    transform: rotateY(180deg);
}

.card-extra {
    position: absolute;
    top: 36%;
    right: 39px;
    font-size: 1.625rem;
    transform: rotate(90deg);
    color: #101010;
}

ion-icon {
    font-size: 1.875rem;
}

.card-front {
    width: 23.125rem;
    height: 15rem;
    /* border-radius: 15px; */
    overflow: hidden;
    box-shadow: 0 0 38px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 22;
}

.card-front-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

/* .bgGOLD {
    background: rgb(197, 179, 88);
    background: linear-gradient(90deg, rgba(197, 179, 88, 1) 25%, rgba(212, 175, 55, 1) 100%);
} */

.bgGOLD {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.bgSILVER {
    background: rgb(211, 211, 211);
    background: linear-gradient(90deg, rgba(211, 211, 211, 1) 25%, rgba(192, 192, 192, 1) 100%);
}

.bgTITANIUM {
    background: rgb(185, 185, 185);
    background: linear-gradient(90deg, rgba(185, 185, 185, 1) 25%, rgba(135, 134, 129, 1) 100%);
}

.colorGOLD {
    color: rgb(197, 179, 88);
}

.colorSILVER {
    color: rgb(211, 211, 211);
}

.colorTITANIUM {
    color: rgb(185, 185, 185);
}

.borderGOLD {
    border: 4px solid rgb(197, 179, 88);
    border: 4px solid #D1B464;
}

.borderSILVER {
    border: 4px solid rgb(211, 211, 211);
}

.borderTITANIUM {
    border: 4px solid rgb(185, 185, 185);
}

.card__back {
    width: 370px;
    height: 240px;
    /* border-radius: 15px; */
    overflow: hidden;
    box-shadow: 0 0 38px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 23;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card__back--bottom {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 7px auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
}

.card__back--shape {
    position: absolute;
    background: #1D1D1D;
    width: 160px;
    height: 500px;
    transform: rotate(84deg);
    left: 55px;
    border-radius: 27%;
    box-shadow: 0 0 0 5px #1D1D1D;
    top: 13px;
    z-index: -1;
}

.card__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.card__contact--txt {
    font-size: 9px;
    font-weight: 700;
    padding: 7px 20px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.card__strip {
    width: 100%;
    height: 45px;
    background: #131313;
    margin: 4px 0;
}

.card__company--address {
    font-size: 8px;
    margin-top: 9px;
    margin-left: 20px;
}

.card__company--msg {
    font-size: 8px;
    margin-top: 2px;
    margin-left: 20px;
}

.card__cvc {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 15px;
}

.card__cvc--strip {
    width: 200px;
    background: #d3d3d3;
    height: 45px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px black solid;
}

.card__cvc--txt {
    background: wheat;
    margin-left: 6px;
    padding: 2px 6px;
    font-style: italic;
    font-weight: 700;
    color: #000;
    font-size: 16px;
}

.card__cvc--num {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.card__cvc--warning {
    font-size: 5px;
    margin-left: 25px;
    margin-top: 2px;
    font-style: italic;
}

.card-brand {
    width: 80%;
    align-items: center;
    margin-left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.card-number {
    position: relative;
    top: 62%;
    padding-left: 1.875rem;
    font-size: 1.125rem;
    /* font-weight: 700; */
    /* text-shadow: 0px 0px 2px #4a2d00; */
    letter-spacing: 1px;
}

.card-type {
    width: 3.125rem;
    font-size: 0.75rem;
    margin-left: 0.3125rem;
}

.card__user {
    position: relative;
    top: 65%;
    display: flex;
    left: 30px;
    color: #fff;
}

.card__user--name {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    /* text-shadow: 0 0 3px #060606; */
}

.card__user--valid {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.card__user--valid-txt {
    display: inline-flex;
    font-size: 10px;
    margin-bottom: 5px;
    text-shadow: 0 0 3px #060606;
}

.card__user--valid-date {
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 0 3px #060606;
}

.card-payment {
    position: absolute;
    /* color: #ffc500; */
    bottom: 15px;
    right: 27px;
}

.card_front--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.card__stamp {
    width: 54px;
    height: 35px;
    background: radial-gradient(#fff, #a9a9a9);
    position: absolute;
    right: 15px;
    bottom: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
}

.card__stamp:after {
    position: absolute;
    opacity: 0.1;
    color: #4c320c;
    font-weight: 900;
    font-size: 18px;
    text-shadow: 0 1px 1px #4e4d4d;
    border: 1px solid #8e8b8b;
    width: 70%;
    height: 70%;
    text-align: center;
    border-radius: 30px;
}

.card__plast {
    position: absolute;
    left: 0;
    width: 15px;
    height: 100%;
}

.card-chip {
    position: absolute;
    top: 86px;
    left: 37px;
}

.card__plast:after {
    content: "https://mindhubweb.com/";
    position: absolute;
    transform: rotate(270deg) translateY(-50%);
    text-align: center;
    width: 15px;
    white-space: nowrap;
    bottom: 30%;
    left: 0.3rem;
    font-size: 6px;
}

.front-bg-s1 {
    position: relative;
    background: #1D1D1D;
    width: 260px;
    height: 510px;
    transform: rotate(105deg);
    bottom: 21px;
    left: 75px;
    border-radius: 30%;
    box-shadow: 0 0 0 5px #1D1D1D;
}

.front--bg--s2 {
    position: absolute;
    top: -20px;
    display: flex;
    transform: rotate(-1deg);
    z-index: -1;
}

@keyframes cardFront {
    from {
        left: 0;
        top: 0;
    }

    to {
        left: 0%;
        top: -54%;
    }
}

@keyframes cardBack {
    from {
        left: 0;
        top: 0;
    }

    to {
        left: 0%;
        top: 54%;
    }
}